.main{
    background-color: white;
    /* background-color: red; */
    width: 100%;
    height: auto;
    

}

.content{
    background-color: transparent;
/* background-color: green; */
    width: 100%;
    height: auto;
 


  
}
